<div class="container">
  <div class="column-payments">
    <!--      type of rate-->
    <h3 class="sub-title">Pagos</h3>
    <div class="wrap">
    <div class="container-t">
    <p class="text-m-bl" *ngIf="rate?.length > 0 ">TARIFA</p>
    <div class="row-payments" *ngIf="rate?.length > 0 ">
      <p class="text-m-bl width-paragraph" *ngFor="let option of rate">{{option.query}}</p>
      <img class="help-payments"
           src="../../../assets/svg/icons/help.svg"
           alt="">
      <span class="text-b-bl with-span" *ngFor="let option of rate">{{option.time}} min</span>
    </div>
    <!--      types of bills-->
    <p class="text-m-bl space-pays space-desktop" *ngIf="otherRate?.length > 0 ">OTROS TIPOS DE FACTURACIÓN</p>
    <div class="row-payments" *ngFor="let option of otherRate">
      <p class="text-m-bl width-paragraph">{{option.query}}</p>
      <img class="help-payments"
           src="../../../assets/svg/icons/help.svg"
           alt="">
      <span class="text-b-bl with-span">{{option.percentage}}%</span>
    </div>
    </div>
    <!--      container section method payments-->
    <div class="container-pays">
      <p class="space-pays text-m-bl" *ngIf="methodPay?.length > 0 ">METODOS DE PAGO</p>
      <div class="method-payments" *ngFor="let option of methodPay">
        <img class="icon-payments" [src]="option.icon" alt="icon-pay">
        <p class="text-m-bl width-paragraph width-desktop">{{ option.method }}</p>
      </div>
    </div>

    </div>
  </div>
</div>
