@import "src/assets/scss/basis/index";
// styles inside swiper
.header-plan {
    @include size-content(flex, column, center, center);
    background-color: $bg-blue-dark-light;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.13);
    height: 79px;
    justify-content: center;
    width: 100%;
    border-radius: 13px 13px 0 0;
    position: relative;
    .color-title2 {
        margin: 0;
    }
}

// monthly, annual and play now
.content {
    @include size-content(flex, row, center, center);
    flex-wrap: wrap;
    padding: 1rem;
    background: white;
}

.price-plan {
    margin: 0;
    height: 100px;
}

.benefit-plan {
    @include size-content(flex, column, center, center);
    justify-content: center;
    border-top: 1px solid #ADC0C7;
    background: white;
    width: 100%;
    min-height: 9vh;
    max-height: 31vh;
    p {
        word-break: break-word;
        margin: 15px 0 7.5px 0;
        text-align: center;
    }
    .text-observation {
        margin: 7.5px 0 15px 0;
    }
}

// size cross and success
.icon-benefit {
    width: 24px;
    height: auto;
    margin: 7.5px 0 15px 0;
}

.benefit-void {
    height: 100px;
    border-top: 1px solid #ADC0C7;
    background: white;
    border-radius: 0 0 18px 18px;
}

// Gold ribbon
.tag-recommendation {
    background-color: #c58511;
    clip-path: polygon(27% 11%, 74% 11%, 100% 100%, 0 100%);
    //clip-path: polygon(18% 11%, 82% 15%, 100% 100%, 0 100%);
    //height: 45px;
    justify-content: center;
    //right: -50px;
    position: absolute;
    text-align: center;
    right: -29px;
    top: 9px;
    transform: rotate(45deg);
    width: 113px;
    height: 36px;
}

@media (min-width: $breakpoint-desktop-usual) {
    .price-plan {
        padding: 0;
    }
    .tag-recommendation {
        clip-path: polygon(27% 11%, 74% 11%, 101% 100%, 0 96%);
        right: -29px;
        top: 9px;
        width: 113px;
        height: 36px;
    }
    .hidden-head {
        visibility: hidden;
    }
    .hidden-name {
        display: none;
    }
    .benefit-plan .text-observation,
    .icon-benefit {
        margin: 0;
    }
}
