<div class="content">
  <div class="top">
    <div class="sub-top">
      <h1 class="title font-bold">Blog - Catálogo</h1>
      <div class="container-inputs">
        <mat-select class="input-form select-category" placeholder="Categoria">
          <mat-option *ngFor="let branches of branchesOfLaw" [value]="branches.name">{{branches.name}}</mat-option>
        </mat-select>
        <input type="text" class="input-form" placeholder="Buscar">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="column">
      <div class="container-cards">
        <ng-container *ngIf="lastNews && lastNews.length > 0">
          <app-card [lastNews]="lastNews" [pageSize]="pageSize" [pageNumber]="pageNumber" (eventCard)="eventCard($event)">
          </app-card>
        </ng-container>
      </div>
      <div class="buttons-container">
        <app-paginator [totalItemsCount]="lastNews.length" [initialPage]="pageNumber" [itemsPerPage]="pageSize"
                       (pageChange)="handlePage($event)" [useRowDirection]="true"></app-paginator>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
